In [20]:
#Import Dependecies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as py
import seaborn as sns

In [21]:
# File to Load 
Iris_Data_Load = Path("iris.data")

# Read Iris Data File and store into Pandas DataFrames
Iris_Data = pd.read_csv(Iris_Data_Load)

#Assign the Column Names(Attributes)
Iris_Data.columns=[" Sepal_Length","Sepal_Width","Petal_Length","Petal_Width ","Class_Iris"]

# Display the dataset
Iris_Data.head(5)

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Class_Iris
0            4.9          3.0           1.4           0.2  Iris-setosa
1            4.7          3.2           1.3           0.2  Iris-setosa
2            4.6          3.1           1.5           0.2  Iris-setosa
3            5.0          3.6           1.4           0.2  Iris-setosa
4            5.4          3.9           1.7           0.4  Iris-setosa

In [25]:
Cleaned_Iris_Df=Iris_Data.dropna()
Stat_Iris=Cleaned_Iris_Df.describe()
Stat_Iris.head()

        Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count     149.000000   149.000000    149.000000    149.000000
mean        5.848322     3.051007      3.774497      1.205369
std         0.828594     0.433499      1.759651      0.761292
min         4.300000     2.000000      1.000000      0.100000
25%         5.100000     2.800000      1.600000      0.300000